body{
  background-color: #ffffff;
}


.box-header{

  height: 70vh;
  background-image: url('../../Assets/Header.png');
  background-size: 100% 70vh;
  background-position: 50% 70%;
  background-repeat: no-repeat;
 
}

.container {
  display: grid;
  place-content: center;
  justify-items: center;
  height: 60vh;
  gap:30px;
}

.container h1 {
 
  font-size: 4em;
  font-weight: normal;
  letter-spacing: 4px;
}

.container h2 {
  
  font-weight: inherit;
  margin: 0; 
  letter-spacing: 2px;
}

.container p {
  
  margin: 0; 
}




#experiencia{
  height: 100vh;
  display: flex;
  
 
}

.rotated{
  height: 15vh;
  transform: rotate(-90deg);
  position: relative;
  top: 13em;
 
  
  h2{
    font-size: 70px;
    color: #62636B;
  }
}

.container1{
  height: 80vh;
}

.p {
  font-size: 30px;
  
  width: 70%;
  margin-bottom: 2em;
  letter-spacing: 3px;
  
  
}

#experiencia{
    height: 80vh;
    margin-top: 100px;
}

.experiencia{
  
  background-color: #c6c6c91c;
  border-radius: 10px;
  width: 70%;
  height: 20vh;
  
  margin-bottom: 2em;
  padding-top: .5em;
  border-left: 2px solid #FF6D00;
}

.experiencia h3{
  margin: .5em 0 .5em 1em;
  font-weight: normal;
  
}

.experiencia h4{
  margin: .5em 0 .8em 2em;
  font-weight: normal;
  
}

.experiencia p{
  margin: .5em 0 .5em 2em;
  
  font-size: 15px;
  
  width: 90%;
}

#formacao{
    height: 80vh;
  display: flex;
  
  
}

.formacao{
  background-color: #c6c6c91c;
  border-radius: 10px;
  width: 65%;
  height: 15vh;
  margin-bottom: 2em;
  border-left: 2px solid #FF6D00;
  padding-top: .3em;
}

.box{
  height: 80vh;
  width: 64%;
  left: 3.9em;
  position: relative;
  
}

.formacao h3{
  margin: .5em 0 .5em 1em;
  font-weight: normal;
 
  
}

.formacao h4{
  margin: .9em 0 0 2em;
  font-weight: normal;
 
  
}

.formacao p{
  margin: 0 0 0 2em;
  font-weight: lighter;
  
}

.rotated1{
  height: 15vh;
  transform: rotate(-90deg);
  position: relative;
  top: 15em;
  left: 2em;
  
  h2{
    font-size: 70px;
    color: #62636B;
  }
}


